<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jts.gangstudy.mapper.BookingMapper">
	<!-- 예약 추가 -->
	<insert id="insertBook" parameterType="com.jts.gangstudy.domain.Booking">
	  <selectKey keyProperty="book_no" resultType="int" order="AFTER">
	    SELECT BOOKING_TB_SEQ.CURRVAL FROM DUAL
	  </selectKey>
	  INSERT INTO BOOKING_TB
	  (USER_NO, ROOM_NO, CHECK_IN, CHECK_OUT, PEOPLE, STATE, REQUEST_DT) VALUES
	  (#{user_no}, #{room_no}, TO_DATE(#{check_in}, 'YYYY-MM-DD HH24:MI'), TO_DATE(#{check_out}, 'YYYY-MM-DD HH24:MI'), #{people}, #{state}, SYSDATE)
	</insert>
	
	<!-- 예약 삭제 -->
	<select id="deleteBook" parameterType="int" resultType="com.jts.gangstudy.domain.Booking">
	  DELETE FROM BOOKING_TB
	  WHERE BOOK_NO = #{book_no}
	</select>
	
	<!-- 상태 변경 -->
	<select id="updateState" parameterType="hashmap">
	  UPDATE BOOKING_TB
	  SET STATE = #{state}
	  WHERE BOOK_NO = #{book_no}
	</select>
	
	
	
	<!-- 날짜로 조회 -->
	<select id="selectByDate" parameterType="String" resultType="com.jts.gangstudy.domain.Booking">
	  SELECT BOOK_NO, USER_NO, ROOM_NO, TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') AS CHECK_IN, TO_CHAR(CHECK_OUT, 'YYYY-MM-DD HH24:MI') AS CHECK_OUT, PEOPLE, STATE, TO_CHAR(REQUEST_DT, 'YYYY-MM-DD')
	  FROM BOOKING_TB
	  WHERE (TO_CHAR(CHECK_IN, 'YYYY-MM-DD') = #{date} OR TO_CHAR(CHECK_OUT, 'YYYY-MM-DD') = #{date})
	  		AND (STATE='uncharge' OR STATE='wait')
	</select>
	
	<!-- 날짜+시간으로 조회 -->
	<select id="selectByDateTime" parameterType="String" resultType="com.jts.gangstudy.domain.Booking">
	  SELECT BOOK_NO, USER_NO, ROOM_NO, TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') AS CHECK_IN, TO_CHAR(CHECK_OUT, 'YYYY-MM-DD HH24:MI') AS CHECK_OUT, PEOPLE, STATE, TO_CHAR(REQUEST_DT, 'YYYY-MM-DD')
	  FROM BOOKING_TB
	  WHERE TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') = #{dateTime} OR TO_CHAR(CHECK_OUT, 'YYYY-MM-DD HH24:MI') = #{dateTime}
	</select>
	
	<!-- 날짜로 첫 예약 조회 -->
	<select id="selectByDateTimeFirst" parameterType="String" resultType="com.jts.gangstudy.domain.Booking">
	  SELECT BOOK_NO, USER_NO, ROOM_NO, TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') AS CHECK_IN, TO_CHAR(CHECK_OUT, 'YYYY-MM-DD HH24:MI') AS CHECK_OUT, PEOPLE, STATE, TO_CHAR(REQUEST_DT, 'YYYY-MM-DD')
	  FROM BOOKING_TB
	  WHERE <![CDATA[ (TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') > #{dateTime} AND (STATE!='cancel' OR STATE!='error')) ]]>
	  ORDER BY CHECK_IN
	</select>
	
	<!--  상태로 조회 -->
	<select id="selectByState" parameterType="String" resultType="com.jts.gangstudy.domain.Booking">
	  SELECT BOOK_NO, USER_NO, ROOM_NO,
	  		TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') AS CHECK_IN, TO_CHAR(CHECK_OUT, 'YYYY-MM-DD HH24:MI') AS CHECK_OUT,
	  		PEOPLE, STATE, TO_CHAR(REQUEST_DT, 'YYYY-MM-DD HH24:MI') AS REQUEST_DT
	  FROM BOOKING_TB
	  WHERE STATE = #{state}
	</select>
	
	<!-- 유저의 특정 상태로 조회 -->
	<select id="selectByUserState" parameterType="hashmap" resultType="com.jts.gangstudy.domain.Booking">
	  SELECT BOOK_NO, USER_NO, ROOM_NO,
	  		TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') AS CHECK_IN, TO_CHAR(CHECK_OUT, 'YYYY-MM-DD HH24:MI') AS CHECK_OUT,
	  		PEOPLE, STATE, TO_CHAR(REQUEST_DT, 'YYYY-MM-DD HH24:MI') AS REQUEST_DT
	  FROM BOOKING_TB
	  WHERE USER_NO = TO_NUMBER(#{user_no}) AND STATE = #{state}
	</select>
	
	<!-- 예약 번호로 조회 -->
	<select id="selectByBookNo" parameterType="int" resultType="com.jts.gangstudy.domain.Booking">
	  SELECT BOOK_NO, USER_NO, ROOM_NO,
	  		TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') AS CHECK_IN, TO_CHAR(CHECK_OUT, 'YYYY-MM-DD HH24:MI') AS CHECK_OUT,
	  		PEOPLE, STATE, TO_CHAR(REQUEST_DT, 'YYYY-MM-DD HH24:MI') AS REQUEST_DT
	  FROM BOOKING_TB
	  WHERE BOOK_NO = #{book_no}
	</select>
	
	<!-- 예약시간 중복 확인-->
	<select id="selectDuplicate" parameterType="hashmap" resultType="int">
	  SELECT count(*) cnt
	  FROM BOOKING_TB
	  
	  WHERE <![CDATA[
	  CHECK_IN < TO_DATE(#{check_out}, 'YYYY-MM-DD HH24:MI') AND CHECK_OUT > TO_DATE(#{check_in}, 'YYYY-MM-DD HH24:MI')
	  ]]>
	  AND (STATE='uncharge' OR STATE='wait')
	</select>
	
	<!-- 날짜를 걸친 예약 조회 -->
	<select id="selectOvernightWithoutBookno" parameterType="hashmap" resultType="com.jts.gangstudy.domain.Booking">
	  SELECT BOOK_NO, USER_NO, ROOM_NO, TO_CHAR(CHECK_IN, 'YYYY-MM-DD HH24:MI') AS CHECK_IN, TO_CHAR(CHECK_OUT, 'YYYY-MM-DD HH24:MI') AS CHECK_OUT, PEOPLE, STATE, TO_CHAR(REQUEST_DT, 'YYYY-MM-DD')
	  FROM BOOKING_TB
	  WHERE TO_CHAR(CHECK_IN, 'YYYY-MM-DD') = #{date} AND TO_CHAR(CHECK_OUT, 'YYYY-MM-DD') != #{date}
	  		AND (STATE!='cancel' OR STATE!='error')
	  		AND BOOK_NO != #{book_no}
	  
	</select>
</mapper>