<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jts.gangstudy.mapper.CommandMapper">
	<!-- 전체 내용 조회 -->
	<select id="selectAll" resultType="com.jts.gangstudy.domain.Command">
	  SELECT *
	  FROM COMMAND_TB
	</select>
	
	<!-- 명령어 추가 -->
	<insert id="insertCommand" parameterType="com.jts.gangstudy.domain.Command">
	  INSERT INTO COMMAND_TB
	  (MESSAGE, RESERVE_TIME) VALUES
	  (#{message}, #{reserveTime})
	</insert>
	
	<!-- 명령어 삭제 -->
	<select id="deleteCommand" parameterType="int" resultType="com.jts.gangstudy.domain.Command">
	  DELETE FROM COMMAND_TB
	  WHERE COMMAND_NO = #{command_no}
	</select>
</mapper>