<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jts.gangstudy.mapper.PaymentMapper">
	<!-- 결제 추가 -->
	<insert id="insertPayment" parameterType="com.jts.gangstudy.domain.Payment">
	  INSERT INTO Payment_TB
	  (AMOUNT, POINT, PG_NM, TID, PAY_TYPE, STATE, BOOK_NO) VALUES
	  (#{amount}, #{point}, #{pg_name}, #{tid}, #{pay_type}, #{state}, #{book_no})
	</insert>

	<!-- 예약 번호로 결제 찾기 -->
	<select id="selectPayment" parameterType="int" resultType="com.jts.gangstudy.domain.Payment">
	  SELECT *
	  FROM Payment_TB
	  WHERE BOOK_NO = #{book_no}
	</select>
</mapper>