.card.card-custom {
	background-color: #fafafa;
	box-shadow: none;
}

.alert-text .myinfo_text {
	max-width: 100%;
}

.table-div {
	background-color: #fff;
	height: 10rem;
}

.table {
	margin: auto;
}
.table td {
	padding: 0.25rem 0.75rem;
}
.table tbody tr:first-child {
	color: #B8BCC6;
}
.table tbody tr:last-child {
	font-size: 18px;
}

.table tbody td:not(:first-child) {
	border-left: 1px solid #EBEDF3;
}

@media (min-width: 576px) {
	.card-body .container {
		margin-top: 5rem;
		padding: 0 4rem;
	}
	.card-footer .container {
		padding: 0 4rem;
	}
} @media (min-width: 768px) {
	.card-body .container {
		margin-top: 5rem;
		padding: 0 6rem;
	}
	.card-footer .container {
		padding: 0 6rem;
	}
} @media (min-width: 992px) {
	.card-body .container {
		margin-top: 5rem;
		padding: 0 8rem;
	}
	.card-footer .container {
		padding: 0 8rem;
	}
} @media (min-width: 1200px) {
	.card-body .container {
		margin-top: 5rem;
		padding: 0 14rem;
	}
	.card-footer .container {
		padding: 0 14rem;
	}
} @media (min-width: 1400px) {
	.card-body .container {
		margin-top: 5rem;
		padding: 0 22rem;
	}
	.card-footer .container {
		padding: 0 22rem;
	}
}




.input-lg {
	height: 4.5rem;
}
#touchspin {
	height: 4.5rem;
	text-align: center;
}

.amount-info {
	z-index: 1;
	color: #999;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-left: 3rem;
}
#totalAmount {
	color: #2552e6;
	font-size: 1.6rem;
	text-align: right;
	padding-right: 4rem;
}
.amount-unit{
	z-index: 1;
	color: #2552e6;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-left: calc(100% - 30px - 25px - 4.5rem);
} @media (min-width: 576px) {
	.amount-info { margin-left: 3rem; }
	#totalAmount { padding-right: 4rem; }
	.amount-unit{ margin-left: calc(100% - 4.5rem - 8rem - 25px); }
} @media (min-width: 768px) {
	.amount-info { margin-left: 3rem; }
	#totalAmount { padding-right: 4rem; }
	.amount-unit{ margin-left: calc(100% - 4.5rem - 12rem - 25px); }
} @media (min-width: 992px) {
	.amount-info { margin-left: 3rem; }
	#totalAmount { padding-right: 4rem; }
	.amount-unit{ margin-left: calc(100% - 4.5rem - 16rem - 25px); }
} @media (min-width: 1200px) {
	.amount-info { margin-left: 3rem; }
	#totalAmount { padding-right: 4rem; }
	.amount-unit{ margin-left: calc(100% - 4.5rem - 28rem - 25px); }
} @media (min-width: 1400px) {
	.amount-info { margin-left: 3rem; }
	#totalAmount { padding-right: 4rem; }
	.amount-unit{ margin-left: calc(100% - 4.5rem - 44rem - 25px); }
}


.card-footer .container .btn{
	width: 100%;
}
@media (max-width: 576px) {
	.card-footer .container .px-4 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.card-footer .btn {
		padding-left: 0px;
		padding-right: 0px;
	}
}